html{
    background-color: #ffbdc7;
}
h1{
    color: red;
    padding: 50px;
}

nav
{
    display: flex;
    background: white;
    margin-bottom: 30px;
    flex-direction: row;
    
}
li{
    display: inline;
    padding: 20px;
    margin: 20px;
    background: #ffee9c;
    border: dotted black;
    text-align: center;
    font-size: 30px;
}
    

h2{
    font-weight: bold;
    border: 2px solid #7085b5;
    background: #75b570;
}
h3{
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

span{
    background: #fffd99;
    border: 2px dotted black;
}