html{
    background-color: #ffbdc7;
}
h1{
    color: red;
    padding: 50px;
}
nav{
    background: white;
    margin: 50px;
    text-align: center;
}
h2{
    font-weight: bold;
    border: 2px solid #7085b5;
    background: #75b570;
}
h3{
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

span{
    background: #fffd99;
    border: 2px dotted black;
}